@model DoradoB2BCoreContext.Models.Audit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Audit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullTableName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullTableName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JsonData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JsonData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditIp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
